:root{
	--cj-min-width: 600px;    /* 表の最小サイズ (幅) */
	--cj-font-size: 16px;     /* フォントサイズ */
	--cj-font-color: #000000; /* フォント色 */
	--cj-attr-width: 200px;   /* 属性列の幅 */
	--cj-level-width: 200px;  /* 水準列の幅 */
}
.cj-box{
        overflow:auto;
        border:none;
}
.cj-table{
	min-width: var(--cj-min-width);
	font-size: var(--cj-font-size);
	color: var(--cj-font-color);
	table-layout: fixed;
	column-gap: 10px;
	padding: 2%;
	border-left: none;
	border-top: none;
	border-bottom: solid;
	border-bottom-width: 0px;
	border-collapse:collapse;
	vertical-align: top;
	text-align: center;
	margin-left : auto;
	margin-right : auto;
	display: block;
	}
.cj-head{
	border-bottom: 2px solid #000000 ;
	font-weight: 600;
	}
.cj-body{
	vertical-align: top;
	border-bottom: 1px solid #ddd;
	}
.cj-body:nth-child(odd){
  background-color: #f5f5f5;
}
.cj-body:last-child{
	border-bottom: 2px solid #000000;
}
.cj-body:hover{
	background-color: #bfbfbf;
}
.level{
	width: var(--cj-level-width);
	padding-left: 5%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
}
.attr{
	width: var(--cj-attr-width);
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: left;
	font-weight: 600;
}
