.cj-box{
        overflow:auto;
        border:none;
}
.cj-table{
	min-width: 700px; /*表の最小サイズ（幅）*/
	font-size: 16px; /*フォントサイズ*/
	column-gap: 10px;
	padding: 2%;
	border-left: none;
	border-top: none;
	border-bottom: solid;
	border-collapse:collapse;
	vertical-align: top;
	text-align: center;
	margin-left : auto;
	margin-right : auto;
	}
.cj-head{
	border-bottom: 2px solid #000000 ;
	font-weight: 500;
	}
.cj-body{
	vertical-align: top;
	border-bottom: 1px solid #ddd;
	}
.cj-foot{
	border-bottom: 2px solid #000000;
}
.cj-body:hover{
	background-color: #f5f5f5;
}
.cj-foot:hover{
	background-color: #f5f5f5;
}
.level {
	padding-left: 5%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
}
.attr {
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: left;
	font-weight: 500;
}
